/* You can add global styles to this file, and also import other style files */

h1 {
    text-align: left;
    color: azure;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    width: 80%;
    margin: 2em auto 0 auto;
    background-color: #a8d0e6;
}

button {
    border-radius: 12px;
    background-color: #f76c6c;
    color: azure;
    font-size: 16px;
    font-weight: bold;
}

input[type=text] {
    border-radius: 12px;
    transition: width 0.4s ease-in-out;
    width: 300px;
}

input[type=text]:focus {
    width: 100%;
  }

.images {
    column-count: 3;
}

img {
    width: 100%;
}

