<form (ngSubmit)="onSubmit()">
    <input [(ngModel)]="searchTerm" class="u-full-width" type="text" id="searchTerm" name="searchTerm">
<br>
    <button type="submit">Search</button>
  </form>
  
  <img *ngIf="loading" src="https://i.imgur.com/LVHmLnb.gif">
  
  <section class="images">
    <img *ngFor="let image of images" src="{{image.urls.regular}}"> 
  </section>